<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Not Found</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">

  
</head>

<body>
  <div class="face">
	<div class="band">
		<div class="red"></div>
		<div class="white"></div>
		<div class="blue"></div>
	</div>
	<div class="eyes"></div>
	<div class="dimples"></div>
	<div class="mouth"></div>
</div>

<h1>Oops! This page isn't available</h1>
<a href="/home"><div class="btn">Return to Home</div></a>

</body>
</html>
