{% extends "base.html" %}
{% block title %}Genres{% endblock %}
{% block body %}
    <div class="main">
        <div class="wrap">
            <div class="category">
                <div class="category__header">
                    <h3 class="h2">{{ category_name }}</h3>
                </div>
                <div class="category__sort">
                    <div class="sorting">
                        <span class="sorting__label">Sort by:</span>
                        <a class="sorting__item active">A-Z</a>
                        <a class="sorting__item">Most Recent</a>
                        <a class="sorting__item">Highest Rated</a>
                    </div>
                </div>
                <div class="category__list">
                    <div class="movies-grid">
                        {% for movie in movies %}
                            <div class="movies-grid__item item">
                                <div class="movie">
                                    <div class="movie__thumb">
                                        <img src="{{ movie.movie_thumbnail }}">
                                    </div>
                                    <div class="movie__content">
                                        <h4 class="movie__title h3">{{ movie.movie_name }}</h4>
                                        <p class="movie__desc">{{ movie.movie_description }}</p>
                                        <div class="movie__metadata">
                                            <span>Genre:</span> <a href="#">Action</a>
                                        </div>
                                        <div class="movie__watch">
                                            <a href="{{ '/watch/' + movie.movie_id }}" class="btn"><i
                                                    class="mdi mdi-play-circle-outline"></i>Watch</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}