{% macro header() -%}
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Search Engine -->
    <meta name="description"
          content="Hearly is the place to practice your ability to listen to English through the film">
    <meta name="image" content="https://hearly.me/assets/imgs/ear.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Hearly |  Watch movies without subtitles">
    <meta itemprop="description"
          content="Hearly is the place to practice your ability to listen to English through the film">
    <meta itemprop="image" content="https://hearly.me/assets/imgs/ear.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Hearly |  Watch movies without subtitles">
    <meta name="twitter:description"
          content="Hearly is the place to practice your ability to listen to English through the film">
    <meta name="twitter:site" content="@stevedien">
    <meta name="twitter:creator" content="@stevedien">
    <meta name="twitter:image:src" content="https://hearly.me/assets/imgs/movie.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Hearly |  Watch movies without subtitles">
    <meta name="og:description"
          content="Hearly is the place to practice your ability to listen to English through the film">
    <meta name="og:image" content="https://hearly.me/assets/imgs/movie.jpg">
    <meta name="og:url" content="https://hearly.me">
    <meta name="og:site_name" content="Hearly |  Watch movies without subtitles">
    <meta name="og:locale" content="en_US">
    <meta name="fb:admins" content="100004226703668">
    <meta name="fb:app_id" content="748956971952861">
    <meta name="og:type" content="website">
{%- endmacro %}