.sidebar .nav > li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}
.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}
.movie_image img{
    width: 100%;
}
.image{
    width: 150px;
    height: 200px;
}
.image img{
    width: 100%;
    height : 100%;
}
.form-control {
    height: 30px;
}