<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Hearly
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.customize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link href="{{ url_for('static', filename='imgs/favicon.ico') }}" rel='shortcut icon' type='image/x-icon'>
</head>
<body class="profile-page">

    <div class="header header--light-theme">
        <div class="wrap">
            <div class="header__left pull-left">
                <div class="header__logo">
                    <a href="/home" class="logo">Hearly</a>
                </div>
                <nav class="header__nav">
                    <ul class="nav">
                        <li class="nav__item"><a href="/home">Home</a></li>
                        <li class="nav__item nav__item--special dropdown hover dropdown--arrow">
                            <a href="#">Browse</a>
                            <div class="dropdown__content">
                                <div class="browselist browselist--light-theme">
                                    <div class="browselist__col">
                                        <a href="#">Actions</a>
                                        <a href="#">Adventure</a>
                                        <a href="#">Animation</a>
                                        <a href="#">Biography</a>
                                        <a href="#">Comedy</a>
                                    </div>
                                    <div class="browselist__col">
                                        <a href="#">Crime</a>
                                        <a href="#">Documentary</a>
                                        <a href="#">Drama</a>
                                        <a href="#">Family</a>
                                        <a href="#">Fantasy</a>
                                    </div>
                                    <div class="browselist__col">
                                        <a href="#">History</a>
                                        <a href="#">Horror</a>
                                        <a href="#">Music</a>
                                        <a href="#">Mystery</a>
                                        <a href="#">Romance</a>
                                    </div>
                                    <div class="browselist__col">
                                        <a href="#">Sci-fi</a>
                                        <a href="#">Sport</a>
                                        <a href="#">Thriller</a>
                                        <a href="#">War</a>
                                        <a href="#">Western</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="header__right pull-right">
                <form action="#" class="header__search search search--light-theme">
                    <label>
                        <span type="button" class="search__toggle"><i class="mdi mdi-magnify"></i></span>
                        <input id='search' type="text" placeholder="Search movies, people, and more.." class="search__field">
                    </label>
                </form>
                <div tabindex='1' class="header__notify dropdown dropdown--right">
                    <a class="mdi mdi-bell-outline"></a>
                    <div class="dropdown__content">
                        <div class="browselist browselist--light-theme" style='width: 400px; text-align: center'>
                            <div class="demo" style="text-align: center">Comming soon</div>
                        </div>
                    </div>
                </div>
                <div tabindex='1' class="header__account dropdown dropdown--right">
                    <a class="mdi mdi-account-outline"></a>
                    <div class="dropdown__content">
                        <div class="account account--light-theme">
                            <div class="account__actions">
                                <a style="font-size: 16px; text-transform: uppercase" href="/profile">Hello, <strong>{{ user_profile.fullname }}</strong></a>
                                <hr/>
                                {% if user_profile.is_admin %}
                                <a href="/admin">Admin</a>
                                <a href="/admin/upload">Upload</a>
                                {% endif %}
                                <a href="/profile">Profile</a>
                                <a href="#">Settings</a>
                                <a href="/auth/logout">Sign out</a>
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="main">
        <div class="profile">
            <div class="profile__header">
                <form id="profile" class="wrap">
                    <label class="profile__avatar">
                        <img src="https://res.cloudinary.com/hearly/image/upload/v1492944142/aqualine-sapling_hgkyv2.svg" alt="">
                        <input type="file" name='avatar'>
                        <i class="mdi mdi-camera"></i>
                    </label>
                    <div class="profile__content" >
                        <h3 class="profile__name">{{ user_profile.fullname}}</h3>
                        <input type='text' class="profile__name" value="{{ user_profile.fullname}}" />
                        <h5 class="profile__username">@{{ user_profile.username}}</h5>
                        <p class="profile__bio">{{ user_profile.bio}}</p>
                        <input type='text' class="profile__bio" value="{{ user_profile.bio}}"/>
                        <div>
                            <button type='button' id="btn-edit-profile" class="btn btn--sm btn--soul">Edit bio</button>
                            <button type='button' id="btn-cancel" class="btn btn--sm btn--soul">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="profile__tabs">
                <div class="wrap">
                    <label for="hearly" class="profile__tab active">My Hearly</label>
                    <label for="wordsbank" class="profile__tab">Words Bank</label>
                    <label for="mydict" class="profile__tab">My Dictionary</label>
                </div>
            </div>
            <div class="profile__body">
                <div class="wrap">
                    <input type="radio" id="hearly" checked='checked' class="tab__control" name="profiletab">
                    <div class="tab__content">
                        <div class="profile__hearly hearly">
                            <p class="hearly__status">Level {{ user_score.score_level}}</p>
                            <img class="hearly__icon" src="{{ url_for('static', filename='imgs/ear.png') }}" alt="">
                            <div class="hearly__progress progress" data-percent='60'>
                                <div class="progress__bar" style="width:{{ user_score.score_percent}}%"></div>
                            </div>
                        </div>
                        <div class="profile__overall overall">
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <input type="radio" id="wordsbank" class="tab__control" name="profiletab">
                    <div class="tab__content">
                        <div class="wordsbank">
                            <ul class="wordsbank__all">
                                <li><a href="#">A</a></li>
                                <li><a href="#">B</a></li>
                                <li><a href="#">C</a></li>
                                <li><a href="#">D</a></li>
                                <li><a href="#">E</a></li>
                                <li><a href="#">F</a></li>
                                <li><a href="#">G</a></li>
                                <li><a href="#">H</a></li>
                                <li><a href="#">I</a></li>
                                <li><a href="#">K</a></li>
                                <li><a href="#">L</a></li>
                                <li><a href="#">M</a></li>
                                <li><a href="#">N</a></li>
                                <li><a href="#">O</a></li>
                                <li><a href="#">P</a></li>
                                <li><a href="#">Q</a></li>
                                <li><a href="#">R</a></li>
                                <li><a href="#">S</a></li>
                                <li><a href="#">T</a></li>
                                <li><a href="#">U</a></li>
                                <li><a href="#">V</a></li>
                                <li><a href="#">X</a></li>
                                <li><a href="#">Y</a></li>
                                <li><a href="#">Z</a></li>
                            </ul>
                            <form action="#" class="wordsbank__search search search--sm search--light-theme">
                                <label>
                                    <span type="submit" class="search__toggle"><i class="mdi mdi-magnify"></i></span>
                                    <input type="text" placeholder="Search word..." class="search__field">
                                </label>
                            </form>
                            <h4 class="wordsbank__title">A</h4>
                            <ul class="wordsbank__list">
                                <li><a href="#">Adobe</a></li>
                                <li><a href="#">Adobe</a></li>
                                <li><a href="#">Adobe</a></li>
                                <li><a href="#">Adobe</a></li>
                                <li><a href="#">Adobe</a></li>
                                <li><a href="#">Adobe</a></li>
                            </ul>
                            <h4 class="wordsbank__title">B</h4>
                            <ul class="wordsbank__list">
                                <li><a href="#">Brow</a></li>
                                <li><a href="#">Brow</a></li>
                                <li><a href="#">Brow</a></li>
                                <li><a href="#">Brow</a></li>
                                <li><a href="#">Brow</a></li>
                                <li><a href="#">Brow</a></li>
                            </ul>
                            <h4 class="wordsbank__title">C</h4>
                            <ul class="wordsbank__list">
                                <li><a href="#">Circle</a></li>
                                <li><a href="#">Circle</a></li>
                                <li><a href="#">Circle</a></li>
                                <li><a href="#">Circle</a></li>
                                <li><a href="#">Circle</a></li>
                                <li><a href="#">Circle</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <input type="radio" id="mydict" class="tab__control" name="profiletab">
                    <div class="tab__content">
                        <div class="mydict">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="flashcard">
                                        <div class="flashcard__header">
                                            <div class="flashcard__edit"><i class="mdi mdi-pencil"></i></div>
                                            Hello! How are you?
                                        </div>
                                        <div class="flashcard__footer">
                                            <div class="flashcard__edit"><i class="mdi mdi-pencil"></i></div>
                                            Xin chào! Bạn khỏe không?
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="flashcard">
                                        <div class="flashcard__header">
                                            <div class="flashcard__edit"><i class="mdi mdi-pencil"></i></div>
                                            I'm fine, thank you! And you?
                                        </div>
                                        <div class="flashcard__footer">
                                            <div class="flashcard__edit"><i class="mdi mdi-pencil"></i></div>
                                            Tôi khỏe, cảm ơn! Còn bạn thì sao?
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="flashcard">
                                        <div class="flashcard__header">
                                            <div class="flashcard__edit"><i class="mdi mdi-pencil"></i></div>
                                            I'm fine, good bye!
                                        </div>
                                        <div class="flashcard__footer">
                                            <div class="flashcard__edit"><i class="mdi mdi-pencil"></i></div>
                                            Tôi ổn, tạm biệt!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="flashcard">
                                        <div class="flashcard__header">
                                            <div class="flashcard__edit"><i class="mdi mdi-pencil"></i></div>
                                            Ok, bye!
                                        </div>
                                        <div class="flashcard__footer">
                                            <div class="flashcard__edit"><i class="mdi mdi-pencil"></i></div>
                                            Ok, chào!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p class="coming">Make Dictionary Yourself. Coming soon!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap">
            
        </div>
    </div>
    <div class="wrap">
        <div class="footer footer--light-theme">
            <div class="footer__left pull-left">
                <p>&copy; Hearly 2017</p>
            </div>
            <div class="footer__right pull-right">
                <nav class="footer__nav footernav">
                    <a class="footernav__item" href="#">About</a>
                    <a class="footernav__item" href="#">Blog</a>
                    <a class="footernav__item" href="#">FAQs</a>
                    <a class="footernav__item" href="#">Contacts</a>
                    <a class="footernav__item" href="#">Terms</a>
                    <a class="footernav__item" href="#">Privacy</a>
                    <a class="footernav__item" href="#">
                        <i class="mdi mdi-facebook"></i>
                    </a>
                    <a class="footernav__item" href="#">
                        <i class="mdi mdi-twitter"></i>
                    </a>
                    <a class="footernav__item" href="#">
                        <i class="mdi mdi-instagram"></i>
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <a href="google.com.vn" class="fab">
        <i class="mdi mdi-message-processing"></i>
        <span class="fab__message">
            Feedback
        </span>
    </a>
    <!-- Scripts -->
    <script>
        (function(){
            var profile = document.getElementById('profile');
            var edit_btn = document.getElementById('btn-edit-profile');
            var cancel_btn = document.getElementById('btn-cancel');

            var fields = [].slice.call(profile.getElementsByTagName('input'));
            
            for (var i = 0; i < fields.length; i++) {
                fields[i].setAttribute('size', fields[i].value.length);
            }
            edit_btn.onclick = function(){
                var editing = profile.dataset.editing;
                if (editing == 'true') {
                    profile.setAttribute('data-editing', 'false');
                    edit_btn.innerHTML = 'Edit bio';
                } else {
                    profile.setAttribute('data-editing', 'true');
                    edit_btn.innerHTML = 'Save';
                    profile.querySelector('input[type=text]').focus();
                }
            }
            cancel_btn.onclick = function(){
                profile.setAttribute('data-editing', 'false');
                edit_btn.innerHTML = 'Edit bio';
            }
        })();
    </script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/analytics.js') }}"></script>

</body>
</html>